/* Barra de navegacion */

.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar .navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Estilos generales */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura {
    color: white;  /* Color de texto */
    background-color: #1b1b32; /* color de fondo */
}

.seccion-clara {
    color: black; /* Color de texto */
    background-color: white; /* color de fondo */
}

.seccion-titulo {
    font-size: 2.2rem;
    padding: 16px 0;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.seccion-texto {
    font-size: 1.2rem;
}

/* estilos para los botones info */
.btn-info {
    font-size: 1.1rem;
    margin: 20px;
}   

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}

/* seccion hero (principal) */
.hero {
    background-color: #f5f6f7;
    min-height: 450px; /* para la altura minima del hero */
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero-imagen-desarrollador {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
}

/* sobre mi */
.sobre-mi {
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

/* Experiencia */
.experiencia {
    padding: 40px 40px 60px 40px;
}

.experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in; /**/
}

.experiencia .columna:hover {
    color: white;
    background-color: #1b1b32;
}

.experiencia i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badgets-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}